.idea
*/*/*.pyc
*/*.pyc
*.pyc
*/*/__pycache__
*/*/*/__pycache__
example/.ipynb_checkpoints/
example/*/*/log
example/*/*/nest
example/*/*/tvb
example/*/*/translation
example/*/*/transformation
example/*/*/LFPY/*/*/cells
example/*/*/LFPY/*/*/figures
example/*/*/LFPY/*/*/populations
example/*/*/LFPY/*/*/sim_scripts
example/*/*/LFPY/*/*/*.tar
example/*/*/LFPY/*/*/*.h5
example/analyse/LFPY/x86_64
*/test_file/*
lib/
*/*/*.simg
./timer/test_file/
./tests/test_nest_MPI_threading/files/*
